<!DOCTYPE html ng-app="app">
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="app" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Agenda de Contatos 2019</title>
<meta name="description" content="">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
</head>
<body>
	<div class="container" ng-controller="UserCRUDCtrl">
		<div>
			<h3>Agenda de Contatos 2019</h3>
		</div>
		<div class="mb-2">
			<form>
				<div class="form-group">
				    <label for="exampleInputID">ID</label>
				    <input type="number" class="form-control" id="id" aria-describedby="id" placeholder="ID" ng-model="user.id" ng-blur="getUser(this.value)">
			  </div>
			  	
			  <div class="form-group">
			    <label for="exampleInputNome">Nome</label>
			    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Digite seu nome" ng-model="user.name">
			  </div>
			
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email" ng-model="user.email">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPhone">Telefone</label>
			    <input type="tel" class="form-control" id="exampleInputPhone" placeholder="Digite seu telefone" ng-model="user.phone">
			  </div>
			  <div class="row mb-2">
			    <div class="col">
			      	<label for="exampleInputCep">Cep</label>
			    	<input type="text" class="form-control" id="exampleInputCep" placeholder="Digite o CEP" ng-model="user.cep" size="10" maxlength="9" ng-blur="pesquisacep(this.value)">
			    </div>
			    <div class="col">
			      <label for="exampleInputRua">Rua</label>
			      <input type="text" class="form-control" id="exampleInputRua" placeholder="Rua" ng-model="user.rua">
			    </div>
			  </div>
			  <div class="row">
			    <div class="col">
			      	<label for="exampleInputBairro">Bairro</label>
			    	<input type="text" class="form-control" id="exampleInputBairro" placeholder="Bairro" ng-model="user.bairro">
			    </div>
			    <div class="col">
			      <label for="exampleInputCidade">Cidade</label>
			      <input type="text" class="form-control" id="exampleInputCidade" placeholder="Cidade" ng-model="user.cidade">
			    </div>
			    <div class="col">
			      <label for="exampleInputEstado">Estado</label>
			      <input type="text" class="form-control" id="exampleInputEstado" placeholder="Estado" ng-model="user.estado">
			    </div>
			  </div>
			</form>
		</div>
		<div class="alert alert-danger" role="alert"
			ng-if="(user.id && errorMessage) || (!user.id && errorMessage) || (errorMessage && (!user.id && !user.name))">
			<p>{{errorMessage}}</p>
		</div>
		<div class="mt-2 mb-2 d-flex justify-content-between">
			<button type="button" class="btn btn-primary" ng-click="getUser(user.id)">Localizar contato (ID)</button>
			<button type="button" class="btn btn-info" ng-click="updateUser(user.id,user.name,user.email,user.phone)">Atualizar contato (ID)</button>
			<button type="button" class="btn btn-info" ng-click="addUser(user.name,user.email, user.phone)">Adicionar contato</button>
			<button type="button" class="btn btn-danger" ng-click="deleteUser(user.id)">Apagar contato (ID)</button>
			<button type="button" class="btn btn-light" ng-click="getClearFields()">Limpar campos</button>
			<button type="button" class="btn btn-success" ng-click="getAllUsers()">Todos os contatos</button>
		</div>
		<div ng-repeat="usr in users">
			<div class="accordion" id="accordion">
			  <div class="card">
			    <div class="card-header" id="headding{{$index}}">
			      <h2 class="mb-0">
			        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ $index + 1 }}" aria-expanded="true" aria-controls="collapse{{ $index + 1 }}">
			          <span class="badge badge-pill badge-info">ID {{usr.id}}</span>
			          {{usr.name}}
			        </button>
			      </h2>
			    </div>
			
			    <div id="collapse{{ $index + 1 }}" class="collapse hide" aria-labelledby="headding{{$index}}" data-parent="#accordion">
			      <div class="card-body">
			      	<label for="exampleLabelName" ng-if="usr.name"><b>Nome: </b>{{usr.name}}</label><br />
			      	<label for="exampleLabelName" ng-if="usr.email"><b>Email: </b>{{usr.email}}</label><br />
			      	<label for="exampleLabelName" ng-if="usr.phone"><b>Telefone: </b>{{usr.phone}}</label><br />
			      	<label for="exampleLabelName" ng-if="usr.cep"><b>CEP: </b>{{usr.cep}}</label><br />
			      	<label for="exampleLabelName" ng-if="usr.rua"><b>Rua: </b>{{usr.rua}}</label><br />
			      	<label for="exampleLabelName" ng-if="usr.bairro"><b>Bairro: </b>{{usr.bairro}}</label><br />
			      	<label for="exampleLabelName" ng-if="usr.cidade"><b>Cidade: </b>{{usr.cidade}}</label><br />
			      	<label for="exampleLabelName" ng-if="usr.estado"><b>Estado: </b>{{usr.estado}}</label>
			      </div>
			    </div>
			  </div>
			</div>
			
			
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.7.6/angular-resource.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controller.js"></script>
	<script src="/js/service.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>
</html>